.label .label-1, .info-1{
 flex: 4;
}

.label .label-2,
.info-2-price,
.infor-3-count,
.info-4-total-price{
    flex: 2;
}
.info-2-price::after,
.info-4-total-price p::after,
.final-price::after{
    content: 'đ';
    text-decoration: underline;
    color: red;
}
.custom-checkbox .form-check-input {
    border-width: 2px; /* Đặt độ dày của viền */
    border-color: black; /* Màu sắc của viền */
    width: 20px;
    height: 20px;
    
  }
.custom-checkbox .form-check-input:checked{
    background-color: red;
    border: none;
    box-shadow: none;
}
i {
    opacity: 0.5;
}
@media (max-width: 992px){
    .label .label-1, .label .label-2{
        display: none;
    }    
}