/* Làm cho nút trượt rõ ràng hơn */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Màu nền đen cho nút */
    border-radius: 50%; /* Để nút hình tròn */
    width: 30px; /* Kích thước nút */
    height: 30px; /* Kích thước nút */
    opacity: 1; /* Đảm bảo nút luôn nhìn thấy */
}

/* Thêm hiệu ứng hover cho nút */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #ff6600; /* Đổi màu khi hover */
}
.carousel-indicators {
    display: none;
}
.slick-center .flashsale__item {
    transform: scale(1.1); /* Phóng to sản phẩm ở giữa */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}

.slick-center .product-name {
    color: #f47920; /* Thay đổi màu sắc cho tên sản phẩm ở giữa */
    font-size: 1.2rem; /* Thay đổi kích thước chữ cho tên sản phẩm */
}
.slick-center .flashsale__item img {
    transform: scale(1.2); /* Phóng to ảnh lên 20% */
    transition: transform 0.3s ease; /* Thêm hiệu ứng mượt mà khi phóng to */
}

/* Căn chỉnh lại kích thước của các phần tử khác để không bị ảnh hưởng */
.flashsale__item img {
    width: 100%; /* Đảm bảo tất cả ảnh đều chiếm 100% chiều rộng phần tử của nó */
    height: auto; /* Giữ tỉ lệ ảnh */
}
