@keyframes slideSideways {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(10px); }
}

.animation-x {
    animation: slideSideways 1s ease-in-out infinite;
}

.list-style-down {
    list-style-type: none;
    padding-left: 0;
}

.list-style-down li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
}

.list-style-down li::before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23f47920" class="bi bi-chevron-double-down" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/%3E%3Cpath fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/%3E%3C/svg%3E');
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(3px);
}

.doi-tac{
    background: url('../../assets/HTXB/reason-buy-book.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.doi-tac-child{
    background-color: rgba(85, 85, 85, 0.8);
}