.login-head{
    background-image: url("./assets/bg_login.webp");
}

.text-orange{
    color: #f47920 !important;
}

.bg-orange{
    background-color: #f47920 !important;
}

.border-orange{
    border: #f47920 1px solid !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}